<h1>About Us</h1>
<p>
  "Photo Share" is a application developed for sharing the photos 
  with friends, just create your profile and connect with your friends to share memories.
  we are trying to make application more User friendly.
  
</p>
