<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

<h1 style="color: #666666;">Photo Share</h1>
<p>
  Sign Up to create new account and share memories with friends.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>